@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

.Box {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
} 

body {
  background: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1s ease 0.3s forwards;
}

.header-motion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem;
  align-items: center;
  position: fixed;
}

.header-motion p {
  font-weight: bold;
  font-size: 0.8rem;
  transition: all 1.2s ease-out;
}

.header-motion p.hidden {
  opacity: 0;
}

.section-motion {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.section--container {
  margin-top: 5vh;
  margin-left: 5vw;
}

.section--container.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.section--container h1 {
  font-weight: 800;
  font-size: 10rem;
  letter-spacing: -6px;
  font-style: italic;
  width: 30%;
  line-height: 8rem;
  font-family: 'Nunito Sans', sans-serif;
}

.support--content {
  position: relative;
  top: -25%;
  left: 18.75px;
}

.support--content p {
  width: 21.875rem;
  margin-block: 3rem;
  line-height: 1.5rem;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.button,.share,.exit {
  background-color: #dd5c18;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0.09px black;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.938rem;
  padding: 0.938rem 1.875rem;
}

.section--container .button:hover,.exit button:hover {
  box-shadow: inset 250px 0 0 0 black;
  transform: scale(1.1);
}

/* CUSTOMIZER */

.customizer {
  display: flex;
  justify-content: flex-start;
  height: 25rem;
  translate: 20px,40px;
  flex-direction: row;
  width: 100%;
}

.customizer span {
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.customizer span svg {
  width: 24px;
  padding-right: 5px;
}

.share {
  top: 6.25rem;
  position: absolute;
  right: 40px;
}

.zoom {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #00000056;
  font-size: 0.6rem;
  border: 1px solid #00000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: border, color 1s ease;
}

.zoom:hover {
  color: black;
}

/* PICKER */

.picker {
  position: absolute !important;
  bottom: 4em;
  left: 50%;
  top: 8.125rem;
  width: 7.5rem !important;
  height: 7.5rem !important;
}

.color-options {
  display: flex;
  flex-direction: column;
  margin-left: 3.12rem;
  position: absolute;
  top: -14.375rem;
  gap: 10px;
  margin-bottom: 20px;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
  
}

.circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.decals {
  position: absolute;
  top: 8.125rem;
  left: 20px;
  margin-left: 6.25rem;
  display: flex;
  flex-direction: column;
  width: 18.125;
  background-color: #ecdeab;
  padding: 15px;
  box-shadow: 5px 5px 50px gray ;
  flex-wrap: wrap;
  max-height: 1.2rem;
}

.decals p {
  font-family: 'Inter var';
  font-size: 0.7rem;
  padding-bottom: 15px;
}

.decals img {
  width: 24px;
  filter: saturate(0) invert(1) brightness(5.5);
  transition: all 0.2s ease-in-out;
  size: 6.25rem;
  
}

.decals img:hover {
  filter: none;
  transform: scale(1.2);
  cursor: pointer;
}
  


.decals--position {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #00000056;
  font-size: 0.6rem;
  border: 1px solid #00000000;
  translate: 31.25rem,40px;
  padding: 10px 10px;
  border-radius: 3.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: border 1s ease;
}

.decals--position:hover {
  color: black;
  border: 1px solid #00000056;
}

.upload {
  margin-top: -5px;
  cursor: pointer;
}

.upload:hover {
  color: white;
}

.decals--container {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 23px;
  flex-direction: column;
  translate: 36.875rem,40px;
}

.exit {
  position: absolute;
  width: 10.5rem;
  top: 40px;
  right: 40px;
  background-color: black;
  box-shadow: inset 0 0 0 0.09px black;
}

.exit:hover {
  box-shadow: inset -250px 0 0 0 black;
}

@media screen and (max-width: 600px) {
  .section--container {
    margin-left: 15vw;
  }

  .section--container h1 {
    font-size: 8rem;
    letter-spacing: -6px;
    line-height: 6rem;
  }

  .color-options {
    margin-bottom: 20px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }

  .support--content {
    top: -10%;
    left: 0;
  }
}

#productAd{
  padding: 4px;
  margin-right: 100px;
}

#productAd:hover{
  transform: scale(0.8);
}
