#social-icons:hover{
    transform: scale(1.5);
} 

#subs:hover{
    background-color: rgb(197, 42, 235);
    color: white;
    border-bottom: rgb(197, 42, 235);
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .newsletter-section{
    background:url("../../../assets/newsBgSmall.jpg");
}
}