#bannerButton:hover{
    background-color: rgb(128, 1, 255);
    color: aliceblue;
    transform: scale(1.1);
}
#bannerButton a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
#bannerButton2 a {
    /* color: rgb(255, 255, 255); */
    text-decoration: none;
 }


.banner-cta:hover{
    color:wheat;
}

@media screen and (max-width:768px) {
    .banner-img {
        translate: -2% 0% !important;
    }
}